#principal{
    width: 40%;
    padding: 2%;
    margin:1%;
    display: inline-block;

}
#dd{
    margin:1%;
    align-content: center; 
    display: inline-block;
}
#incidencia{
    width: 40%;
    padding: 2%;
    margin:1%;
    display: block;

}
#transferencia{
    width: 40%;
    padding: 2%;
    margin:1%;
    display: block;

}
#table{
    padding: 2%;
    margin:1%;
    display: block;
}
table{
    display: block;
    width: 100px;
    overflow-x: auto;
    white-space: nowrap;
}
#btn{
    width: 50%;
    padding: 2%;
    margin:1%;
    float: right;
}
#datos{
    display: inline-block;
}